#you {
    background-color: #ddd;
    margin-left: 5px;
    margin-right: 30px;
    align-items: flex-end;
    border-radius: 10px;
    display: inline-block;
}

#yourname {
    align-items: flex-end;
    margin-right: 200px;
    /* float: left; */
}

#yourcontainer {
    text-align: left;
}


#me {
    background-color: #F9EB54;
    margin-left: 30px;
    margin-right: 5px;
    align-items: flex-start;
    flex-direction: row-reverse;
    border-radius: 10px;
    display: inline-block;
    text-align: left;
}


#myname {
    align-items: flex-start;
    margin-left: 200px;
    /* float: right; */
}

#mycontainer {
    text-align: right;
}
